.App {
  text-align: center;
}

.ui-form {
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.form div{
  margin-bottom: 10px;
}

.form .field {
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form .field label {
  font-size: 20px;
  margin-bottom: 5px;
}

.form .field input {
  padding: 10px 0;
  border-radius: 5px;
  border: 2px solid black;
}

.form .submit-btn {
  padding: 10px 50px;
  background: blue;
  color: #fff;
  border: none;
  border-radius: 5PX;
}

